<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <h1>Give Feedback</h1>
            </div>
            <div class="col-md-6">
                <h2 class="highlight-header">{{dueDate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-bordered">Name</th>
                            <th class="table-bordered">Applied for promotion?</th>
                            <th class="table-bordered">Status</th>
                            <th class="table-bordered"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feedback in feedbacks">
                            <td>{{feedback.forWhom}}</td>
                            <td class="text-left">
                                <span ng-show="feedback.applyForPromotion">Yes</span>
                                <span ng-hide="feedback.applyForPromotion">No</span>
                            </td>
                            <td>{{feedback.status}}</td>
                            <td class="text-right"><a class="link" ng-href="#/GiveFeedback?evaluationId={{feedback.evaluationId}}">
                                <span>Open</span>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
