﻿<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <h1>Giving Feedback to<br />{{userName}}</h1>
            </div>
            <div class="col-sm-3 text-right">
                <a ng-href="#/Feedback" class="link stealth"><span class="glyphicon glyphicon-share-alt flipped-x"></span> <span>back to Give Feedback</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th><h2>Achievements &amp; Feedback</h2></th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr class="reviewable" id="{{'trAchievement' + $id}}" ng-repeat-start="achievement in selectedAchievements | orderBy:'sortOrder'">
                            <td class="description">
                                <span ng-show="coreValue.isSelected" ng-repeat="coreValue in achievement.coreValues" class="core-value label label-info">{{coreValue.name}}</span>
                                <pre>{{achievement.description}}</pre>
                            </td>
                        </tr>
                        <tr ng-repeat="feed in achievement.feedbacks" ng-class="{'clickable':!getReadyState(selectedAchievements)}" class="review" ng-animate="box"
                            id="{{'trAchFeed' +$id}}" ng-click="setEditValue(achievement, feed, true)"
                            click-outside="setEditValue(achievement, feed, false)">
                            <td colspan="6">
                                <table class=" col-sm-12">
                                    <tr>
                                        <td>
                                            <span class="label label-primary name">{{feed.fullName}}</span>
                                        </td>
                                        <td class="description">
                                            <div ng-hide="feed.isEditable">
                                                <pre>{{feed.description}}<span class="label label-danger" ng-show="feed.description.length === 0">Comment cannot be empty</span></pre>
                                            </div>
                                            <textarea ng-class="{textvalidation:achievement.description.length === 0}" class="text-area-feed" ng-show="feed.isEditable && !isReviewed" rows="1" ng-model="feed.description"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="review" ng-show="achievement.isAllowed">
                            <td colspan="6">
                                <table class="col-sm-12">
                                    <tr>
                                        <td class="text-center">
                                            <span class="label label-primary name">{{currentReviewer.name}}</span>
                                            <button ng-click="saveItem(achievement, achievement.newfeed); achievement.newfeed.isDisabled = true" class="link" ng-disabled="!(achievement.newfeed.description) || achievement.newfeed.isDisabled">Add</button>
                                        </td>
                                        <td class="description">
                                            <textarea class="text-area-feed" placeholder=" type your comment..." ng-f rows="1" ng-model="achievement.newfeed.description"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th><h2>To-Do List &amp; Feedback</h2></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="reviewable" ng-repeat-start="todo in selectedToDos | orderBy:'sortOrder'" id="{{'trTodo' + $id}}">
                            <td class="description">
                                <span ng-show="coreValue.isSelected" ng-repeat="coreValue in todo.coreValues" class="core-value label label-info">{{coreValue.name}}</span>
                                <pre>{{todo.description}}</pre>
                            </td>
                        </tr>
                        <tr ng-repeat="feed in todo.feedbacks" ng-animate="box" class="review" ng-class="{'clickable' : !getReadyState(selectedTodos)}" id="{{'trTodoFeed' + $id}}" ng-click="setEditValue(todo,feed,true)" click-outside="setEditValue(todo,feed,false)">
                            <td colspan="6">
                                <table class="col-sm-12">
                                    <tr>
                                        <td>
                                            <span class="label label-primary name">{{feed.fullName}}</span>
                                        </td>
                                        <td class="description">
                                            <div ng-hide="feed.isEditable">
                                                <pre>{{feed.description}}<span class="label label-danger" ng-show="feed.description.length === 0">Comment cannot be empty</span></pre>
                                                
                                            </div>
                                            <textarea ng-class="{textvalidation: feed.description.length === 0}" class="text-area-feed" ng-show="feed.isEditable && !isReviewed" rows="1" ng-model="feed.description"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    <tr class="review" ng-repeat-end ng-show="todo.isAllowed">
                        <td colspan="6">
                            <table class="col-sm-12">
                                <tr>
                                    <td class="text-center">
                                        <span class="label label-primary name">{{currentReviewer.name}}</span>
                                        <button ng-click="saveItem(todo, todo.newFeed); todo.newFeed.isDisabled = true" class="link" ng-disabled="!(todo.newFeed.description) || todo.newFeed.isDisabled">Add</button>
                                    </td>
                                    <td class="description">
                                        <textarea class="text-area-feed" placeholder="Type your comment..." rows="1" ng-model="todo.newFeed.description"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="right-position">
                    <!--<button ng-disabled="!getReadyState(evaluationItems)" class="btn btn-primary" ng-click="commitReview()">Submit review</button>-->
                    <button ng-hide="isReviewed" ng-disabled="!getReadyState(evaluationItems)" class="btn" ng-click="confirm(evaluation)"> Submit Review</button>
                    <!--<td class="text-right"><a class="link" href="#/Feedback?evaluationId={{feedback.evaluationId}}">Give feedback</a></td>-->
                </div>
            </div>
        </div>
    </div>
</div>
