<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <h1>Self Evaluation - Submitted<br />
                {{evaluationStartDate | date : 'longDate'}}</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a ng-href="#/MyEvaluation" class="link stealth"><span class="glyphicon glyphicon-share-alt flipped-x"></span> <span>back to My Evaluations</span></a>
            </div>
        </div>
        <div class="row people">
            <div class="col-sm-3">
                <span class="section-title">Coach</span>
                <ul class="list-inline">
                    <li><span class="label" ng-class="{true: 'label-success', false:' label-warning'}[coachAsReviewer.reviewerStatusId == 3]">{{coach.name}}</span></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <span class="section-title">Reviewers</span>
                <ul class="list-inline">
                    <li ng-repeat="reviewer in reviewers"><span class="label" ng-class="{true: 'label-success', false:' label-warning'}[reviewer.reviewerStatusId == 3]">{{reviewer.name}}</span></li>
                </ul>
            </div>
        </div>
        <div class="row text-left">
            <span class="link">Applied for Promotion: {{applied}}</span>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th><h2>Achievements &amp; Feedback</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="reviewable" id="{{'trAchievement' + $id}}" ng-repeat-start="achievement in selectedAchievements | orderBy:'sortOrder'">
                            <td class="description">
                                <span ng-show="coreValue.isSelected" ng-repeat="coreValue in achievement.coreValues" class="core-value label label-info">{{coreValue.name}}</span>
                                <pre ng-hide="todo.isEditable">{{achievement.description}}</pre>
                            </td>
                        </tr>
                        <tr class="review" ng-repeat="feed in achievement.feedbacks" ng-animate="box"
                            id="{{'trAchFeed' +$id}}">
                            <td colspan="6">
                                <table class=" col-sm-12">
                                    <tbody>
                                        <tr>
                                            <td class="author">
                                                <span class="label label-primary name ng-binding">{{feed.fullName}}</span>
                                                <span>says</span>
                                            </td>
                                            <td class="description">
                                                <div ng-hide="feed.isEditable">
                                                    <pre ng-hide="todo.isEditable">{{feed.description}}</pre>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th><h2>To-Do List &amp; Feedback</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="reviewable" ng-repeat-start="todo in selectedToDos | orderBy:'sortOrder'" id="{{'trTodo' + $id}}">
                            <td class="description">
                                <span ng-show="coreValue.isSelected" ng-repeat="coreValue in todo.coreValues" class="core-value label label-info">{{coreValue.name}}</span>
                                <pre ng-hide="todo.isEditable">{{todo.description}}</pre>
                            </td>
                        </tr>
                        <tr class="review" ng-repeat="feed in todo.feedbacks" ng-animate="box" id="{{'trTodoFeed' + $id}}" ng-repeat-end>
                            <td colspan="6">
                                <table class=" col-sm-12">
                                    <tbody>
                                        <tr>
                                            <td class="author">
                                                <span class="label label-primary name ng-binding">{{feed.fullName}}</span>
                                                <span>says</span>
                                            </td>
                                            <td class="description">
                                                <div ng-hide="feed.isEditable">
                                                    <pre ng-hide="todo.isEditable">{{feed.description}}</pre>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>