<div class="container">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" class="form-control" placeholder="FullName" ng-model="user.fullName" />
           
        </div>
    </div>
   
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" class="form-control" placeholder="Username" ng-model="user.userName" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" class="form-control" placeholder="Email" ng-model="user.email" />
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" class="form-control" placeholder="Password" ng-model="user.password" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="password" class="form-control" class="form-control" placeholder="Confirm" ng-model="user.confirmPassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <button class="btn btn-primary" ng-click="register()">Register</button>
        </div>
    </div>
    <div class=" form-group">
        <div class="form-group">
            <span class="alert alert-success label-success" ng-show="registrationSuccess != undifined">{{registrationSuccess}}</span>
        </div>
        <div class="form-group">
            <span class="alert alert-danger label-danger" ng-show="registrationError != undifined">{{registrationError}}</span>
        </div>
    </div>
</div>
