{
  "env": {
    "browser": 1
  },
  "globals": {
    "angular": 1,
    "_": 1
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "eqeqeq": 0,
    "strict": 0,
    "no-use-before-define": 0
  },
  "extends": [
    "eslint:recommended"
  ]
}