{
 "env": {
        "browser": true
    },
    "globals": {
        "angular": true,
        "_": true,
        "$": true
    },
    "extends": ["eslint:recommended", "airbnb/legacy"],

    "rules" : {
        "no-param-reassign": [2, {"props": false}],
        "func-names":0,
        "vars-on-top":0
      }
}
