@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500);


#toast-container {
    margin-top: 112px;
}

    #toast-container > .toast-info {
        background-color: rgb(51, 51, 51);
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
    }

:focus {
    outline: none !important;
}

::-moz-focus-inner {
    border: 0 !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html {
    background-color: #fafafa;
    height: 100%;
}

body {
    background-color: #fafafa;
    padding: 134px 0 64px 0;
    font-family: "Roboto";
}

.wrapper {
    padding-bottom: 64px;
}

.login {
    background: url(Images/bg.png);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.textvalidation {
    border: 1px solid #ff0000;
}

.logged {
    position: absolute;
    top: 14px;
    right: 20px;
    font-size: 16px;
    padding: 0px;
    font-weight: 300;
    color: #fff;
}

    .logged a:hover {
        background: rgba(0, 0, 0, 0.17) none repeat scroll 0% 0%;
        text-decoration: none;
    }

    .logged a {
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        background: transparent none repeat scroll 0% 0%;
        padding: 8px 16px;
        margin-left: 4px;
        transition: all 0.2s ease 0s;
        border-radius: 2px;
    }

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    right: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
}

.header {
    width: 100%;
    height: 51px;
    background: #d32f2f;
}

    .header h1 {
        font-weight: bold;
        margin: 0px;
        padding: 0px 0px 0px 30px;
        color: #FFF;
        cursor: default;
        border: medium none;
        line-height: 50px;
        font-size: 2em;
        font-variant: small-caps;
        text-transform: none;
    }

.container {
    max-width: 1000px;
    margin: 0px auto;
}

.highlight-header {
    background: #ffc107;
    color: rgba(255,255,255,.92);
    font-variant: small-caps;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 2px;
    margin: 3px 0;
}

nav {
    background: #f44336;
}

h1 {
    color: rgba(0,0,0,.67);
    width: 100%;
    margin: 0 0 16px;
    padding: 0px;
    font: 300 34px/40px Roboto,sans-serif;
}

.nav-tabs {
    white-space: nowrap;
    overflow: auto;
    font-size: 0;
}

.nav-tabs > li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
/*.nav-tabs > li > a:focus,*/
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    color: #fff;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
}

.nav-tabs {
    border: none;
    padding-left: 51px;
}

    .nav-tabs > li > a:focus,
    .nav-tabs li > a {
        line-height: 50px;
        background: transparent none repeat scroll 0% 0%;
        font-weight: 500;
        font-size: 13px;
        border-radius: 0;
        margin: 0;
        padding: 5px 20px 4px;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        border: none;
        transition: all 0.2s ease 0s;
    }

.panel-heading-custom {
    background: none;
    border: 0;
}

.tab-core-value {
    background-color: rgb(133, 133, 133);
    padding: 4px;
    border-radius: 3px;
    width: 19%;
    text-align: center;
    margin: 1px;
    display: table;
    float: left;
    font-size: 13px;
}

    .tab-core-value:hover {
        cursor: pointer;
    }

.tab-core-value-active {
    background-color: #673ab7;
}

.right-position {
    float: right;
}

.login-div {
    padding: 0 16px;
    border-radius: 2px;
    width: 300px;
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
    overflow: hidden;
    top: 50%;
    left: 50%;
    height: 450px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.change-password-div {
    height: 555px;
}

.change-password-div .change-password-req {
    margin-bottom: 10px
}
.change-password-div h2 {
    margin-bottom: 12px
}

.login-div .md-toolbar {
    margin: 0 -16px;
}

.login-div form {
    margin: 24px 0;
}

.login-header img {
    padding: 0;
    background: #f44336;
    width: 100%;
    height: auto;
}

.span-text {
    color: black;
    /*margin: auto;
  display: table;*/
    padding: 3px 6px 3px 6px;
    /* padding-left: 6px; */
    margin-bottom: 4px;
}

.span-text-centered {
    color: black;
    margin: auto;
    display: table;
    padding: 3px 6px 3px 6px;
    /* padding-left: 6px; */
    margin-bottom: 4px;
}

.row {
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.logo {
    background: url(logo.png) no-repeat top left;
    height: 119px;
    width: 243px;
    float: left;
    margin-left: -22px;
}

.panel-default:first-child {
    padding-left: 4px;
}

.panel-right:last-child {
    padding-right: 4px;
}

.credential-message {
    font-size: 12px;
    color: #dd2c00;
    font-family: 'Roboto', sans-serif;
}

.control-label {
    float: right;
    line-height: 33px;
    color: #fff;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.control-label a:hover {
    cursor: pointer;
    color: #fff;
}

.glyphicon-log-out {
    margin: 0 5px 0 15px;
    color: #00a0e9;
}

.glyphicon-plus {
    float: right;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.list-group-item-heading {
    background: #673ab7 !important;
}

.navigation {
    height: 58px;
    margin-bottom: 1px;
    float: right;
}

.logged {
    float: right;
}

.no-padding {
    padding: 0;
}

.glyphicon-minus-sign {
    float: right;
    color: #00a0e9;
    font-size: 20px;
    cursor: pointer;
}

.list-group-item {
    color: black;
}

.centered {
    margin: auto;
    display: table;
}

.md-toolbar.md-default-theme {
    color: rgba(255, 255, 255, 0.87);
    background-color: #f44336;
}

.login-div span.failureNotification {
    padding: 10px 0px 10px 19px;
    margin: -24px -17px 8px;
    font-size: 12px;
    font-family: "Roboto";
    background: #f00 none repeat scroll 0% 0%;
    list-style-type: none;
    color: #fff;
    display: block;
    font-weight: 400;
}

.login-div h2 {
    font-variant: small-caps;
}

.md-toolbar h2 {
    line-height: 41px;
    font-size: 16px;
    margin: 0px 0px 0px 19px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 400;
}


.link {
    color: #f44336;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    height: auto;
    line-height: 16px;
    padding: 8px 12px;
    background: transparent;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    text-decoration: none;
    display: inline-block;
}

    .link:hover,
    .link:focus {
        color: #f44336;
        text-decoration: none;
        background: rgba(158,158,158,.17);
    }

    .link[disabled],
    .link[disabled]:hover,
    .link[disabled]:focus {
        color: rgba(0,0,0,.3);
        background: transparent;
    }

.circular-icon {
    color: #f44336;
    width: 20px;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 10px;
    display: block;
    border: 2px solid #d32f2f;
}

input[type="text"],
.ui-select-multiple.ui-select-bootstrap.form-control,
input[type="password"],
input[type="email"],
input[type="file"],
textarea {
    line-height: 32px;
    text-indent: 8px;
    display: inline-block;
    font-family: "Roboto";
    font-weight: 300;
    border-radius: 2px;
    border: 1px solid #CCC;
    margin: 0px 8px 8px 0px;
    font-size: 13px;
    box-sizing: border-box;
    width: 100%;
    color: #333;
}

.text-area-feed {
    width: 100%;
    max-width: 100%;
    border: 1px;
}


textarea {
    text-indent: 0;
    resize: vertical;
    line-height: 20px;
    padding: 8px;

}

textarea:first-child:last-child {
    margin: 0;
}

.btn,
.ui-select-container input[type="text"] {
    color: rgba(255, 255, 255, 0.87) !important;
    padding: 8px 32px;
    border-radius: 2px;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    text-shadow: none;
    height: auto;
    border: none;
    font-size: 13px;
    background: #f44336 !important;
    text-transform: uppercase;
    transform: translate3d(0px, 0px, 0px);
    text-decoration: none;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    font-family: "Roboto" !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

    .btn[disabled] {
        cursor: default;
    }

.btn:focus,
.btn:active,
.btn:active:focus,
.btn:hover {
    box-shadow: unset;
}

.btn:focus,
.btn:active,
.btn:active:focus,
.btn:hover:not([disabled]) {
    transform: translate3d(0px, -1px, 0px);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.btn.tight {
    padding: 8px 16px;
}

.table {
    max-width: 960px;
    background: #fff;
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.06), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}

.table thead tr:first-child {
    background: #F2F2F2;
    border: none;
}

.table thead tr:last-child {
    background: #f9f9f9;
}

.table > thead > tr > td {
    border: none;
    line-height: 24px;
    font-size: 13px;
    font-weight: 300;
}

.table thead > tr > th {
    border: medium none;
    cursor: default;
    font-size: 13px;
    border: none;
    font-weight: 400;
    color: #555;
    line-height: 32px;
}

.table > tbody > tr {
    transition: 0.2s all ease;
}

.clickable:hover {
    background: #f9f9f9;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: #848484;
    margin: 0 0 24px 0px;
}

th h2 {
    margin: 8px 0 2px 0;
    color: rgba(255,255,255,.67);
}

.table thead tr th {
    background: #f44336;
    color: rgba(255,255,255,.67);
}

    .table thead tr th:first-child {
        border-top-left-radius: 2px;
    }

    .table thead tr th:last-child {
        border-top-right-radius: 2px;
    }

.table > tbody > tr > td {
    vertical-align: middle;
    font-weight: 300;
}

.error label {
    font-weight: 400;
    color: #DD2C00;
    text-transform: none;
    font-size: 13px;
}

.success label {
    font-weight: 400;
    color: #f44336;
}

.changer {
    float: left;
    background: rgba(0,0,0,.2);
    color: rgba(255,255,255,.67);
    text-align: center;
    width: 51px;
    position: relative;
    border: none;
    margin-right: 16px;
    height: 51px;
}

.changer ul {
    list-style-type: none;
    background: #d32f2f;
    width: 200px;
    padding: 0;
    position: absolute;
    top: 51px;
    display: none;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    z-index: 100;
    left: 0;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 14px;
}

.changer li a {
    padding: 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease 0s;
    color: rgba(255,255,255,.67);
}

.changer li a:hover,
.changer li.active a {
    background: rgba(0,0,0,.1);
    cursor: pointer;
    color: #fff;
}

.changer li.active a {
    cursor: default;
}

.changer > div {
    height: 51px;
    width: 51px;
    opacity: 0.67;
    font-size: 20px;
    font-weight: 500;
    background: url(Images/m_logo.png) center center no-repeat;
    background-size: contain;
}

.changer:hover > div,
.changer.open > div {
    opacity: 1;
}

.changer.open ul {
    display: block;
}

.changer li a .fa-external-link {
    padding: 2px;
    float: right;
    font-size: 16px;
}

.select-locked span {
    font-size: 10px;
    vertical-align: middle;
}

.link.stealth,
.link.stealth:hover {
    color: rgba(0,0,0,.67);
}

.link span + span {
    margin-left: 4px;
}

.link span,
.link input[type="checkbox"] {
    vertical-align: top;
    display: inline-block;
    margin-top: 2px;
}

.link input[type="checkbox"] {
    margin: 3px 4px 0 0;
}

.link + .btn {
    margin-left: 8px;
}


.description {
    width: 100%;
}

    .description textarea {
        width: 100%;
        height: 100px;
        max-width: 100%;
    }

.preTextvalidation {
    content: "Comment cannot be empty";
}

.table thead tr:not(:first-child):last-child {
    border-top: 2px solid #f44336;
}

.bubble {
    border-radius: 50%;
    font-family: Roboto;
    cursor: default;
    color: rgba(255,255,255,.67);
    font-weight: 500;
    width: 48px;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

    .bubble.green {
        background: #f44336;
    }

.table > tbody > tr.review > td {
    padding: 4px;
}

.actions {
    width: 90px;
}

    .actions button {
        width: 75px;
    }

.flipped-x {
    transform: scale(-1,1);
}

.label + label {
    margin-left: 4px;
    display: inline-block;
}

.login-changer {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

    .login-changer > h2 {
        margin: 0;
        padding-left: 19px;
        transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    }

    .login-changer:hover > h2,
    .login-changer.open > h2 {
        background: rgba(0,0,0,.1);
    }

    .login-changer:after {
        content: "▼";
        position: absolute;
        top: 10px;
        transform: scale(1,1);
        right: 16px;
    }

    .login-changer.open:after {
        transform: scale(1,-1);
    }

    .login-changer ul {
        list-style-type: none;
        display: none;
        padding: 0;
        box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
        left: 0; 
        border-top: 3px solid #00796b;
        position: absolute;
        background: #f44336;
        top: 41px;
        width: 100%;
    }

        .login-changer ul li {
            cursor: pointer;
        }

            .login-changer ul li a {
                transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                text-decoration: none;
                display: block;
            }

                .login-changer ul li a h2 {
                    font-size: 14px;
                    line-height: 40px;
                    font-weight: 500;
                    transition: 0.2s color ease;
                }

                .login-changer ul li a:hover {
                    background: rgba(0,0,0,.1);
                }


    .login-changer.open ul {
        display: block;
    }

    .login-changer ul li a:hover h2 {
        color: #fff;
    }

    .login-changer .fa {
        float: right;
        line-height: 40px;
        margin-right: 15px;
    }

.text-muted {
    color: rgba(255,255,255,.67);
}

.section-title {
    color: rgba(0,0,0,.67);
}

.vertical-align,
.vertical-align td,
.vertical-align th {
    vertical-align: middle !important;
}

.failureNotification h2 {
    color: rgba(255,255,255,.76);
    margin: 4px 0;
}

.score {
    margin: 16px 0;
    display: inline-block;
    line-height: 62px;
    font-size: 62px;
    font-weight: 700;
}

md-card {
    overflow: hidden;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-dark,
md-toolbar:not(.md-menu-toolbar).md-dark {
    background: #424242;
}

.container {
    max-width: 800px;
}

.callout-box {
    margin-bottom: 32px;
}

.callout-box .md-block.big {
    padding-top: 46px;
}

.callout-box .md-block.big label {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: -36px;
    margin-left: 8px;
}

.callout-box .md-block.big textarea {
    font-size: 24px;
    font-weight: 400;
}

.fa {
    margin: 0 8px 0 0;
}

.md-btn-group {
    padding: 0;
    border-radius: 3px;
    min-height: auto;
    overflow: hidden;
    width: auto;
}

.md-btn-group button {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 !important;
    border-radius: 0 !important;
}

.md-btn-group button.md-button .md-ripple-container {
    border-radius: 0;
}

.md-btn-group button.md-button.md-raised[disabled] {
    color: rgba(0,0,0,.67) !important;
    background: rgba(255,255,255,.91);
}

.md-btn-group button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
}

.md-btn-group button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

.md-btn-group button:not(:last-child):not(:first-child) {
    margin-left: 0;
    border-radius: 0;
    margin-right: 0;
}


.winner {
    font-size: 26px;
    font-weight: 300;
}

.month {
    font-size: 18px;
    font-weight: 400;
}

md-card > md-toolbar {
    min-height: 100%;
}

.callout-box-mini {
    padding-top: 16px;
}

.callout-box-mini label {
    margin-bottom: -16px;
}

p {
    font-weight: 300;
}


.md-accent h1 {
    color: rgba(255,255,255,.91);
}

dl {
}

dt {
    font-size: 22px;
    font-weight: 300;
}

dd {
    font-size: 16px;
    color: rgba(255,255,255,.91);
}



.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border-top: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.ng-scope.warning {
    font-size: 16px;
    margin: 0 10px 0 0;
}

.event-details {
    font-size: 16px;
}

/* Login thingy */

.login-div.checking {
    z-index: 10000;
    height: auto;
    padding: 0;
}

.login-div.checking .md-toolbar {
    margin: 0;
}

.login-div.checking img {
    position: relative;
    z-index: 9999;
    background: transparent;
}

/* logging-in Bar */
.logging-in {
  position: relative;
  height: 163px;
  display: block;
  width: 100%;
  background-color: #b2dfdb;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0;
  overflow: hidden; }
  .logging-in .indeterminate {
    background-color: #f44336; }
    .logging-in .indeterminate:before {
      content: '';
      position: absolute;
      opacity: .51;
      background-color: #ffffff;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .logging-in .indeterminate:after {
      content: '';
      position: absolute;
      background-color: #ffffff;
      opacity: .27;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

/* End Login thingy */


















.user-status {
    display: none;
    cursor: default;
    line-height: 56px;
    text-indent: 16px;
    background: rgba(0,0,0,.12);
    border-bottom: 2px solid rgba(0,0,0,.24);
}

body [layout-align*="top"] md-input-container {
    margin: 5px 0;
}

footer {
    font-family: "Roboto";
    margin-top: 30px;
    text-align: center;
    color: #ccc;
    text-shadow: 0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,.3);
}

@media screen and (max-width: 767px) {
    .callout-box .md-block.big {
         padding-top: 32px;
         margin-bottom: 0;
         margin-top: 0;
    }

    .callout-box md-input-container .md-errors-spacer {
        float: left;
    }

    .callout-box .md-block.big label {
        font-size: 16px;
        margin-bottom: -24px;
    }

    .callout-box .md-block.big textarea {
        font-size: 20px;
    }

    .score {
        font-size: 40px;
        line-height: 40px;
        margin: 16px 0 8px 0;
    }

    .changer ul {
        position: fixed;
        top: 51px;
        bottom: -10px;
        overflow: auto;
    }
}

@media screen and (max-width: 600px) {

    .user-status {
        display: block;
    }

    .claim {
        font-size: 16px;
    }

    .score {
        font-size: 40px;
        line-height: 40px;
    }

    .md-btn-group button {
        padding-left: 8px;
        padding-right: 8px;
    }

    .logged > span {
        display: none;
    }

    .nav-tabs {
        padding-left: 0;
    }

}

.toast-blue {
    background-color: rgb(68,138,255) !important;
     background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}